
@{
    ViewBag.Title = "confirmacionRegistro";
}

<h2>¡Gracias por registrarse en 24 News!</h2>

<div>
    <p>
        Ahora puede comentar todas las noticias de la página.
        <br/>
        Le recomendamos leer el reglamento para evitar que sus comentarios 
        sean eliminados de la página.
    </p>

</div>



