@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title</h2>

<div>
    <p>
        Actualmente el Internet es la herramienta más utilizada por las personas, el papel se usa menos porque la información se manipula a través de la web.
    </p>
    <p>
        Un portal de noticias permite reemplazar el periódico y es más accesible para todo el mundo.
    </p>
    <p>
        En el pasado, no era tan fácil conocer las noticias de otros países debido a que la comunicación y publicación de información era limitada. Hoy en día es posible corroborar lo que sucedió en todo el mundo gracias a las diferentes formas de exponer la información como los portales de noticias.
    </p>
    <p>
        En esta página podrá encontrar todas las noticias importantes tanto del país costarricense como del mundo entero. <br />
    </p>
</div>