@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Programación Avanzada<br />
    Universidad Fidelitas<br />
    <abbr title="Phone">Teléfono:</abbr>
    2206-8600
</address>

<address>
    <strong>Hansel Murillo:</strong>   <a href="mailto:hmurillo80210@ufide.ac.cr">hmurillo80210@ufide.ac.cr</a><br />
    <strong>Guillermo Sotomayor:</strong> <a href="mailto:gsotomayor60571@ufide.ac.cr">gsotomayor60571@ufide.ac.cr</a><br />
    <strong>María Quesada:</strong> <a href="mailto:mquesada80349@ufide.ac.cr">mquesada80349@ufide.ac.cr</a>
</address>