@model IEnumerable<PortalNoticias.ETL.clsNoticiaArchivo>
@{
    ViewBag.Title = "Home Page";
}


    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="txtTipoNoticia"></div>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">

                @foreach (var item in Model)
                {
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="@(item.Archivo.Tipo ? "../../Archivos/unnamed.png" : "../"+item.Archivo.Ruta)" alt="" /></div>
                            <div>
                                <a href="@Url.Action("ConsultarId","Home",new { id = item.Noticia.IdNoticia })" class="d-block fh5co_small_post_heading"><span class="">@item.Noticia.Titulo</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> @item.Noticia.Fecha.ToShortDateString()</div>
                            </div>
                        </div>
                    </div>
                }

                @if(Model.Count() <= 0)
                {
                    <h2 style="text-align:center">Sin noticias disponibles</h2>
                }

            </div>
        </div>
    </div>
   